<div class="container py-5">
  <div class="row mb-5">

    <div class="col-12 my-3 text-center">
      <h1>Acornr</h1>
    </div>

    <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
      <h2>What is Acornr?</h2>
      <p>Acornr was an idea from my teammate, Momotaro Nakamura, that allowed residents all over the world to list their spaces for rental as temporary storage for other users. <strong>A corner to put your things, anywhere in the world.</strong></p>
      <p><strong>Built using</strong>: Rails, AJAX, HTML, CSS, JavaScript</p>
      <div class="w-100 text-center"><%= link_to '👀 Visit project', 'http://www.acornr.herokuapp.com', class: 'btn btn-primary' %></div>
    </div>
    <div class="col-12 col-md-6">
      <%= image_tag "acornr.png", class:"web_screenshot" %>
    </div>
  </div>
  <div class="row mb-5 reverse">
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
        <h2>Team Role</h2>
        <p>I was <strong>Lead Dev</strong> on the team of 3 that built Acornr in <strong>5 days</strong> during the LeWagon Bootcamp. It was a great learning experience coordinating between different developers and making sure the overall app was functional and fit our original vision.</p>
      </div>
      <div class="col-12 col-md-6">
        <%= image_tag "marvin-meyer-SYTO3xs06fU-unsplash.jpg", class:"web_screenshot" %>
      </div>
  </div>

  <div class="row mb-5">
    <div class="col-12 my-3 text-center">
      <h1>Features</h1>
    </div>
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
      <h2>List a Space</h2>
      <p>Hosts could <strong>list a space with a photo</strong>. They were able to specify details such as address, price per day, and what they were willing to let others store in their spaces.</p>
    </div>
    <div class="col-12 col-md-6">
      <%= image_tag "space.png", class:"web_screenshot" %>
    </div>

  </div>

  <div class="row mb-5 reverse">
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
      <h2>Dashboard</h2>
      <p>We needed a <storng>centralized space</storng> to clearly and concisely display information on bookings and owned spaces for hosts, so we designed a <strong>clean and organized Dashboard</strong> for hosts to use as a quick overview, or to accept or deny booking requests.</p>
    </div>
    <div class="col-12 col-md-6">
      <%= image_tag "dashboard.png", class:"web_screenshot" %>
    </div>

  </div>

  <div class="row mb-5">
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
      <h2>Search for Spaces</h2>
      <p>On the renter's side, they needed to be able to <strong>search for places close to their destination</strong>, so we implemented a location based search that then displayed results on an <strong>easy to understand map</strong>. We used Mapbox maps for this project.</p>
    </div>
    <div class="col-12 col-md-6">
      <%= image_tag "map.png", class:"web_screenshot" %>
    </div>

  </div>
</div>
